@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br/>
    <br/>
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-5">On this website you can calculate the amount of money you spend on cigarettes over a certain period of time</h2>
    <a class="btn btn-dark btn-lg custom-btn mt-4" asp-controller="Habbits" asp-action="Catalog">Start</a>
</div>
